$bg-color: rgb(248, 248, 248);
$card-shadow: 0 7px 25px 5px darken($bg-color, 5%);
$dark-font-header: rgb(31, 30, 30);
$dark-font-primary: rgb(41, 41, 41);
$button-border-color: darken(#ddd, 10%);
$border-highlight: darken(#f7ae4f, 50%);
$orange-theme-color: #f7ae4f;

$new-bg-blue: #031534;
$second-bg-color: #143546;
$highlight-bar-color: #3e8381;
$metrics-background-color: #2b2b2b;
$base-font-color: #e8ddca;

$message-text-color: #969e93;
$message-border-color: #cad1c7;

$off-white-color: rgb(219, 231, 235);

$header-height: 27px;

$green: green;
$soft-green: #51b3b5;