@import 'theme';

.broker-grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
  column-gap: 0.5em;
  row-gap: 0.5em;
  align-items: start;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}

p {
  font-size: 20px;
}

.broker-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
