@import 'theme';

.message-list {
  align-items: left;
  height: 100%;
  overflow: scroll;
}

// .m-header {
//     border-bottom: 1px solid lightgray;
//     padding-bottom: 17px;
//     color: $dark-font-primary;
// }