@import 'theme';

.message-details {
    color: $off-white-color;
    padding-left: 50px;
    padding-top: 36px;
}

.info-font-size {
    font-size: 16px;
}

.message-details h5 {
    font-size: 21px;
}
