@import 'theme';

.single-message {
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 8px;
    color: darken($message-text-color, 20%);
}

.single-message:hover {
    background-color: #f7ae4f;
    color: white;
    cursor: pointer;
}

.offset-indicator {
    color: $new-bg-blue;
    background-color: $message-border-color;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h6 {
    margin: 0;
}