@import 'theme';

.single-message {
    padding-top: 22px;
    padding-bottom: 30px;
    padding-left: 48px;
    padding-right: 8px;
    color: darken($message-text-color, 20%);
    border-bottom: 1px solid $message-border-color;
}

.single-message:hover {
    background-color: #f7ae4f;
    color: white;
    cursor: pointer;
}

.offset-indicator {
    color: $off-white-color;
    background-color: darken($highlight-bar-color, 10%);
    float: right;
    margin: 0px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

h6 {
    margin: 0;
}