@import 'theme';

.single-message {
    padding-top: 7px;
    padding-bottom: 11px;
    padding-left: 48px;
    padding-right: 8px;
    color: lighten(#544d4d, 10%);
    border-bottom: 1px solid lighten($message-border-color, 2%);
}

.single-message:hover {
    background-color: #f7ae4f;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
    border-bottom: 1px solid $message-border-color;
}

.offset-indicator {
    color: $off-white-color;
    background-color: darken($highlight-bar-color, 10%);
    float: right;
    margin: 0px;
    padding-left: 8px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

h6 {
    margin: 0;
}