@import 'theme';

.partition-details {
    color: $off-white-color;
    padding-top: 36px;
    padding-left: 36px;
}

.info-font-size {
    font-size: 16px;
}

.partition-details h5 {
    font-size: 21px;
}