.single-partition {
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
}

.single-partition:hover {
    background-color: #f7ae4f;
    color: white;
    cursor: pointer;
}

.single-partition:focus {
    background-color: black;
}

