@import 'theme';

.route-padding {
    padding-left: 30px;
}

span h5 {
    color: $off-white-color;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.display-inline {
    display: inline-block;
}