.sidebar {
  width: 30vw;
  position: relative;
  z-index: 1;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .sidebar {
    transition: none;
  }
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.brokerId {
  font-size: 2em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
