@import 'theme';

h3 {
  text-align: center;
}

.topic-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 5em;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 81px;
  border-bottom: 1px solid lightgray;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}

.message-list {
  justify-self: center;
}

.highlight-topic {
  background-color: gray;
}

.highlight-this {
  background-color: #f7ae4f;
  color: white;
  border: $border-highlight;
}

// incoming messages loading animation

//incoming messages loading dots 

.spinner {
  margin: 50px auto 0;
  padding-bottom: 20px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: $dark-font-primary;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


