@import 'theme';

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 0.9fr 1.3fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 0.3fr 2fr 2.3fr 1fr;
  grid-template-areas: "title-bar title-bar title-bar title-bar"
                       "logo-box route-bar route-bar route-bar"
                       "logo-box partition-info message-box message-box"
                       "topics-header partition-info message-box message-box"
                       "list-display partition-info message-box message-box"
                       "list-display message-info message-box message-box"
                       "connection-status message-info message-box message-box";
  width: 100vw;
  height: 100vh;
}

.title-bar { 
  grid-area: title-bar; 
  background-color: $new-bg-blue;
  color: $base-font-color;
  text-align: center;
  padding-top: 5px;
}

.route-bar { 
  grid-area: route-bar; 
  background-color: $highlight-bar-color;
}

.logo-box { 
  grid-area: logo-box; 
  text-align: center;
  padding-top: 26px;
  background-color: $new-bg-blue;
}

.lens-icon {
  height: 100px;
  width: 100px;
}

.topics-header { 
  grid-area: topics-header; 
  font-size: 21px;
  padding-left: 22px;
  background-color: $new-bg-blue;
  color: $off-white-color;
}

.partition-info { 
  grid-area: partition-info; 
  background-color: $second-bg-color; 
}

.message-info { 
  grid-area: message-info; 
  background-color: lighten($second-bg-color, 5%); 
}

.list-display { 
  grid-area: list-display; 
  overflow: auto;
  padding-top: 18px;
  background-color: $new-bg-blue;
  color: $base-font-color;
}

.message-box { 
  grid-area: message-box; 
  background-color: lighten($off-white-color, 20%);
}

.connection-status { 
  grid-area: connection-status; 
  text-align: center;
  padding-top: 15px;
  background-color: $new-bg-blue;
}

.connection-header {
  font-size: 24px;
  color: #76C652;
}

.disconnected-header {
  font-size: 24px;
  color: red;
}

.connection-uri {
  color: $base-font-color;
}

.highlight-this {
  color: yellow;
}

// DO NOT REMOVE (scroll bar style)
// ::-webkit-scrollbar {     
//   background-color: $new-bg-blue;
//   width: .8em
// }

// ::-webkit-scrollbar-thumb:window-inactive,
// ::-webkit-scrollbar-thumb {
//   background:  $base-font-color;
// }