.partition-list {
  margin-top: 25px;
}

.topic-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
