@import 'theme';

.topic-header {
    font-size: 21px;
    cursor: pointer;
}

.topic-padding {
    padding-left: 56px;
}

.topic-padding:hover, .topic-padding:focus {
    background-color: $highlight-bar-color;
    cursor: pointer;
}